<h1>Edit Project</h1>

<%= form_for @project do |f| %>
  <li>Title: <%= f.text_field :title %></li><br>
  <li> Description: <%= f.text_field :description, :size => 150 %></li><br>
  <li>Technologies Used: <%= f.text_field :technologies_used %></li><br>
  <%= f.submit %>
<% end %>
